# windows:
.vs
.vscode
*.code-workspace

# mid 
runApp.py

# fmod:
*.log

# unity:
/Library
/Temp
/*.sln
/*.csproj
/*.user
/*.sublime-workspace
/CreateUI.unity
/GameRoot.unity
/Assets/FMODStudioCache.asset
/Assets/StreamingAssets/build_info.txt.meta
/Assets/StreamingAssets/build_info.txt
/fmod.log
/fmod_editor.log
/Assets/XGame/Script/Lua/*.sln
/Assets/XGame/Script/Lua/*.sln.meta
/Assets/XGame/Script/obj
/Assets/XGame/Script/obj.meta

*.DS_Store
//fmod.log
/Assets/XGame/Script/Lua/lua_work.code-workspace.meta
build_info.txt
//Assets/XGame/Scene/Release/GameRoot.unity
//Assets/XGame/Scene/Test/UI/*.unity
//Assets/XGame/Scene/Release/GameRoot.unity
//Assets/XGame/Scene/Test/UI/CreateUI.unity
//Assets/XGame/Scene/Release/GameRoot.unity
//Assets/XGame/Scene/Test/UI/CreateUI.unity
